<!doctype html>
<html lang="{{resume.language.name}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<article>
    <header>
        <h1>{{resume.profile.name}} {{resume.profile.lastName}}</h1>
        <h2>{{resume.profile.email}}</h2>
        <blockquote>{{resume.profile.pitch}}</blockquote>
    </header>
    <aside>
        <ul>
            {% for keyword in resume.language.keywords %}
            <li>{{ keyword }}</li>
            {% endfor %}
        </ul>
    </aside>
    <aside>
        <ul>
            {% for skill in resume.skills %}
            <li>
                <h3>{{skill.name}}</h3>
                <blockquote>{{skill.experience}}</blockquote>
            </li>
            {% endfor %}
        </ul>
    </aside>
</article>
</body>
</html>
